html {
	direction: rtl;
	font-size: 10px;
}

:root {
	--box-shadow: 3px 5px 16px 0px #bacadd59;
	--main: #2d72e1;
	--secondary: #ebf2ff;
	--ternary: #e0eafa;
	--grey1: #5d5d67;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'loan-400';
}

@font-face {
	font-family: 'loan-200';
	src: url('./assets/fonts/Assistant-ExtraLight.ttf');
}

@font-face {
	font-family: 'loan-300';
	src: url('./assets/fonts/Assistant-Light.ttf');
}

@font-face {
	font-family: 'loan-400';
	src: url('./assets/fonts/Assistant-Regular.ttf');
}

@font-face {
	font-family: 'loan-500';
	src: url('./assets/fonts/Assistant-Medium.ttf');
}

@font-face {
	font-family: 'loan-600';
	src: url('./assets/fonts/Assistant-SemiBold.ttf');
}

@font-face {
	font-family: 'loan-700';
	src: url('./assets/fonts/Assistant-Bold.ttf');
}

@font-face {
	font-family: 'loan-800';
	src: url('./assets/fonts/Gluten-ExtraBold.ttf');
}
